body,
html,
.channel-view {
  height: 100%;
}

#notifications {
  bottom: 80px;
  left: 10px;
  right: initial;
  top: initial;
}

.nav-avatar {
  height: 19px;
  width: 19px;
  margin-right: 6px;
}

.site-nav {
  margin: 0;
}

[class*=' col-']  {
  height: 100%;
  float: none;
}

.channels {
  display: table-cell;
  width: 15%;
}
.messages {
  display: table-cell;
  width: 85%
}

.row {
  height: 100%;
  display: table-row;
}

.chat-room-nav-ul {
  float: none;
  display: block;
  height: 100%;
}

.chat-room-nav-collapse {
  padding: 0;
}

.chat-room-nav {
  height: calc(100% - 115px);
  margin: 0;
}

.chat-room-nav > .container-fluid {
  padding: 0;
  height: 100%;
}

.chat-room-nav-footer {
  background-color: #272727;
  color: white;
  padding: 15px;
  height: 115px;
}

.messages-panel {
  margin: 0;
  border: none;
  height: calc(100% - 65px);
  overflow-y: scroll;
  /*background: linear-gradient(to bottom, #2193b0, #6dd5ed, #ffffff);*/
}
/*.messages-panel::-webkit-scrollbar {
display: none;
}*/

.messages-panel .panel-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.channel-view > .container-fluid {
  padding-left: 0;
  padding-right: 0;
  height: calc(100% - 45px);
  position: relative;
  display:table;
  width: 100%;
  /*margin-top: -45px;
  padding-top: 45px;*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
