$breakpoint: 680px;
$color-blue: #8ac0d9;
$background-color: #333;

body,
html,
.app {
  height: 100%;
}

body {
  padding-top: 45px;
}

.avatar {
  $size: 19px;
  height: $size;
  width: $size;
  margin-right: 6px;
}

.chat {
  display: flex;
  height: 100%;

  @media (max-width: $breakpoint) {
    flex-direction: column;
  }
}

.channel-nav {
  flex: 1;
  background-color: $background-color;
  overflow-y: auto;

  @media (max-width: $breakpoint) {
    height: auto;
  }

  &::-webkit-scrollbar-track {
    background-color: $background-color;
    margin: 6px 0;
  }

  &::-webkit-scrollbar {
    width: 9px;
    background-color: $background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b8babf;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  &__link {
    display: block;
    padding: 16px;
    color: white;
    font-family: inherit;
    font-size: 13px;
    font-weight: 300;

    &:focus,
    &:hover,
    &.active {
      background-color: #272727;
      color: white;
      text-decoration: none;
    }
  }
}

.messages-panel {
  margin: 0;
  flex: 3;
  border: none;
  display: flex;
  flex-direction: column;
  .panel-body {
    overflow-y: auto;
    flex: 1;
    &::-webkit-scrollbar-track {
      background-color: #b8babf;
      margin: 6px 0;
    }

    &::-webkit-scrollbar {
      background-color: #b8babf;
      width: 9px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #777;
    }
  }

  .panel-footer {
    background-color: #f5f5f5;
    flex-basis: 60px;
  }

  &__form-group {
    margin-bottom: 0;
  }
}

.message {
  margin-bottom: 20px;

  &__top {
    display: flex;
    flex-direction: row;
  }

  &__text {
    background-color: $color-blue;
    padding: 7px;
    margin-bottom: 2px;
    border-radius: 4px;
    position: relative;
    max-width: 720px;
    display: inline-block;

    &::before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: -20px;
      top: 5px;
      border: 10px solid;
      border-color: transparent $color-blue transparent transparent;
    }
  }

  &__author-avatar {
    $size: 34px;
    flex: 0 0 $size;
    width: $size;
    height: $size;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__time {
    display: block;
    color: #8899a6;
    font-size: 11px;
    margin-left: 0;
  }
}

.icon-group {
  display: flex;
  align-items: center;
  > svg {
    $size: 21px;
    width: $size;
    height: $size;
    fill: white;
  }
}
