$breakpoint: 680px;
$background-color: #333;

body,
html,
.app {
  height: 100%;
}

body {
  padding-top: 45px;
}

.avatar {
  $size: 19px;
  height: $size;
  width: $size;
  margin-right: 6px;
}

.chat {
  display: flex;
  height: 100%;

  @media (max-width: $breakpoint) {
    flex-direction: column;
  }
}

.channel-nav {
  flex: 1;
  background-color: $background-color;
  overflow-y: auto;

  @media (max-width: $breakpoint) {
    height: auto;
  }

  &::-webkit-scrollbar-track {
    background-color: $background-color;
    margin: 6px 0;
  }

  &::-webkit-scrollbar {
    width: 9px;
    background-color: $background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b8babf;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  &__link {
    display: block;
    padding: 16px;
    color: white;
    font-family: inherit;
    font-size: 13px;
    font-weight: 300;

    &:focus,
    &:hover,
    &.active {
      background-color: #272727;
      color: white;
      text-decoration: none;
    }
  }
}

.messages-panel {
  margin: 0;
  flex: 3;
  border: none;
  display: flex;
  flex-direction: column;

  .panel-body {
    flex-grow: 1;
  }

  &__form-group {
    margin-bottom: 0;
  }
}

.message {
  &__author-avatar {
    $size: 32px;
    width: $size;
    height: $size;
  }
}

.icon-group {
  display: flex;
  align-items: center;
  > svg {
    $size: 21px;
    width: $size;
    height: $size;
    fill: white;
  }
}
